/* Drag and Drop Ice Cream Picker CSS */
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }

#dddiv {
    width: 600px;
    position: absolute;
    top: 5em;
    right: 0em;
}

#container {
    max-width: 1200px;
    padding:auto;
    margin:auto;
    text-align:center;
}

#dpdiv {
    position: absolute;
    width: 600px;
    left: 0em;
    top: 5em;
}

#modalActivate {
    position: absolute;
    top: 3em;
    left: 5em;
    padding: 1em;
}

.smallOr {
    text-align: center;
    font-size: .7em;
    line-height: 0em;
}

#adiv {
    width: 600px;
    position: relative;
    left; 0em;
    top: 7em;
}
