header{
  width:100%;
}
header button{
    width: 300px;
    margin: 2em -150px;
    position: absolute;
    left: 50%;
}

h1 {
    text-align: center;
    background-color: darkcyan
}

#unfinished {
    background-color: #e6b900;
    margin: .5em;
    width: 100%;
    min-height: 250px;
    height: 100%;
}
li{
  border: 1px solid black;
  padding: 1em;
  border-radius: .8em;
  margin-bottom: .5em;
}
#main {
    width: 75%;
    margin: auto;
}

#finished {
    background-color: #e6b900;
    margin: .5em;
    width: 100%;
    min-height: 250px;
    height: 100%;
}

#container {
    background-color: cyan;
}

body {
    background-color: cyan;
}
.delete{
    margin: 0em 1em;
}
.task{
    margin: 0em 10em;
}
.due-date{
    float: right;
    margin-right: 2em;
}
ul{
    list-style-type: none;
}
