header img  {
	height: 100px;
	float: left;
}
header  {
	width: 940;
	height: 100px;
	border-radius: 10px;
	border: 1px black solid;
	background-color: #D3C89F;
}
#subnav {
	position: absolute;
	right: 30px;
	top: 50px;
	color: #7c5d42;
}
nav ul {
	list-style-type: none;
}
nav {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: auto;
	display: table;
}
#signin {
	width: 300px;
	height: 250px;
	border-radius: .9em;
	background-color: #D3C89F;
}
form ul li {
	list-style-type: none;
	padding-top: 20px;
}
#signin h2 {
	margin: auto;
	text-align: center;
}
nav ul {
	display: table-row;
}
nav ul > li {
	padding: .9em;
	margin: .9em;
	display: table-cell;
	background-color: #D3C89F;
	text-align: center;
	font-size: 1.4em;
}
nav ul li:first-of-type {
	border-radius: .9em 0em 0em .9em;
}
nav ul li:last-of-type {
	border-radius: 0em .9em .9em 0em;
}
#title {
	clear: right;
	margin-left: 150px;
	color: #7c5d42;
}
#title h3 {
	margin-left: 20px;
}
a:link{
  text-decoration: none;
  color: #7c5d42;
}
a:visited{
  text-decoration: none;
  color: #7c5d42;
}
a:hover{
  text-decoration: underline;
  color: #40301f;
}
a:active{
  text-decoration: underline;
  color: #40301f;
}
